# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_ORDERS_TOPIC=olist.orders
KAFKA_PAYMENTS_TOPIC=olist.payments

# Spark
SPARK_APP_NAME=EcommerceAnalyticsPipeline
SPARK_MASTER=local[*]

# Snowflake (fill in after creating trial account)
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password

# Data
DATA_REPLAY_SPEED_FACTOR=1000
DATA_BATCH_SIZE=100

# App
ENVIRONMENT=development
LOG_LEVEL=INFO
